.bodyRL{
    background-color: #3D505D;
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    columns: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.textRL{
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 25vh;
    align-items: center;
    padding-top: 120px;
    /* border: 1px solid red; */
}

.loginButtonRL{
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40%;
    height: 5%;
    margin-top: 200px;
    background-color: #0CC608;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
}

.registerButtonRL{
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40%;
    height: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #0CC608;
    border-radius: 10px;
}