.body{
    background-color: #038C7F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lines{
    display: table-column;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding: 10px;
    width: 50%;
}

.busStop{
display: table-column;
justify-content:center;
align-items:center;
text-align: center;
padding: 10px;
width: 50%;
}