.listBodyU{
    padding-top: 100px;
    padding-bottom: 70px;
    }
    
    .elementBodyU{
        background-color: #7eaac7;
        width: 100%;
        justify-content: center;
        text-align: center;
        column-count: 1;
        /* column-gap: 10px; */
        color: #ffff00;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 3px solid #688CA4;
    }
    
    .elementBodyU>button{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 40%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30%;
        margin-right: 30%;
    }
    
    .buttonScheduleU{
        background-color: #7eaac7;
    }
    